# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/supacoda/pp.supacoda.de"
PassengerBaseURI "/"
PassengerNodejs "/home/supacoda/nodevenv/pp.supacoda.de/20/bin/node"
PassengerAppType node
PassengerStartupFile loader.cjs
PassengerAppLogFile "/home/supacoda/pplog.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
